// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #52a7a4;
  --ion-color-secondary: #65bab7;
  --ion-color-tertiary: #78cdca;
  --ion-color-light: #9ef3ef;
  --ion-color-medium: #8be0dc;
  --ion-color-dark: #3a4d4c;
}
