ion-content {
  --background: #9ef3ef; // Fundo leve da tela
  padding: 16px;
}

ion-toolbar {
  --background: #52a7a4; // Cor forte no topo
  --color: white;
}

ion-title {
  font-weight: bold;
  font-size: 1.3rem;
}

ion-item {
  --color: #2b2b2b;
  --background: white;
  border-radius: 8px;
  margin-bottom: 12px;
  --highlight-background: #8be0dc;
  --highlight-color-focused: #65bab7;
}

ion-button {
  --background: #52a7a4;
  --background-hover: #65bab7;
  color: white;
  margin-top: 16px;
  border-radius: 12px;
}

ion-label {
  color: #444;
}

ion-list {
  background-color: transparent !important;
  margin-top: 24px;
}

ion-item h2 {
  color: #333;
  font-size: 1.1rem;
  margin-bottom: 4px;
}

ion-item p {
  color: #666;
  font-size: 0.95rem;
}

.saved-list {
  margin-top: 24px;
  background-color: transparent !important;
  padding: 10px;
  border-radius: 10px;
  box-shadow: none;
}

.saved-list ion-item {
  --background: #ffffff !important;
  background-color: #ffffff !important;
  margin-bottom: 8px;
  border-radius: 8px;
}
