<ion-header>
  <ion-toolbar>
    <ion-title>
      Save Data App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="data.name" type="text" color="dark"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Idade</ion-label>
    <ion-input [(ngModel)]="data.age" type="number" color="dark"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="saveData()">Salvar</ion-button>

  <ion-list class="saved-list" *ngIf="storedData.length > 0">
    <ion-item *ngFor="let item of storedData">
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>Idade: {{ item.age }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
